{% extends 'core/base.html' %}
{% load static %}
{% block title %}События центра{% endblock %}

{% block content %}
    {% for event in events %}
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">{{ event.date }}</span>
                                <span class="section-heading-lower">{{ event.name }}</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{ event.image.url }}" width="75%" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">{{ event.description }}</p></div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}